<ion-view title="Help" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <h3 id="help-heading1" style="color:#000000;">Log your Time</h3>
        <div>
            <p>In order to be able to use this application be sure to:</p>
            <p>- Fill your full <strong>name</strong> (equal to the name in Timeclock), <strong>username</strong> and <strong>password</strong> on the <strong>Settings</strong> tab</p>
            <p>- Be connected to the WIFI of the European Commission</p>
        </div>
        <h5 id="help-heading2" style="color:#000000;"><a href="mailto:guilhermeramosalmeida@gmail.com?subject=EC Timeclock">Powered By Mr GRA</a></h5>
        <!--<button data-ng-click="vm.cleanDB()" class="button button-royal button-large button-block icon-right ion-log-out">Clear Local Database</button>-->
    </ion-content>
</ion-view>